
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #dcd9d9;
    background-color: #374054;
}    

#lead {
    position: relative;
    padding: 20px 15px 10px 15px;
    background: url(../images/lead-bg.jpg);
    background-size: auto;
}

#lead-media {
    position: relative;
    z-index: 2;
    margin-top: 3px;
}

#lead-content {
    position: relative;
    z-index: 2;
}

#lead-content h3 {
    color: #a0cfee;
    font-size: 4em;
    font-family: 'Wallpoet', cursive;
    letter-spacing: 0.03em;
}

#lead-content h1 {
    color: #ebebeb;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

#lead-content h2 {
    color: #a0cfee;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 0.18em;
    margin-bottom: 15px;
}

.color-media {
    color: #a0cfee;
}

#lead-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(3, 0, 48, 0.55);
    z-index: 1
}

#about {
    padding: 20px 5px;
    border-bottom: 1px solid #5d798b;
}

    #about h2 {
        color: #eeeded
    }

    #about img {
        width: 7em;
        margin-left: 10px;
        margin-bottom: 10px;
    }

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 2px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #a0cfee;
}

.shadow {
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-red {
    border: solid 3px #ff7347;
}

.border-blue {
    border: solid 3px #4773ff;
}
